<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script>
    fetch("http://localhost:5000", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "token": "DENEME"
        },
        body: JSON.stringify({
            // İsteğe eklenecek JSON verisi
        })
    }).then(response => {
        if (response.status === 200) {
            // Başarılı işlem durumunda buraya yönlendirme yapabilirsiniz
            // Örneğin:
            response.json().then(data => {
                window.localStorage.setItem('responseDate', JSON.stringify(data));
                window.location.href = "/templates/student.html";
            });
        } else if (response.status === 401) {
            console.error("Unauthorized: Token is missing or invalid.");
        } else {
            console.error("Unexpected response:", response.status);
        }
    }).catch(error => {
        // Hata işlemleri
        console.error('Error:', error);
    });
</script>
</body>
</html>
